@page "/vestigingen"
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Vestigingen</PageTitle>

<div class="d-flex justify-content-between align-items-center">
    <h1>Vestigingen</h1>

</div>

@if(locations == null)
{
  @if(!string.IsNullOrEmpty(errorMessages))
    {
        <div class="alert alert-danger mt-3">@errorMessages</div>
    }
    else
    {
        <p>Laden...</p>
    }
}
else
{
    <LocationTable Locations="@locations" />
}
