.options-add-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

    .options-add-title h3 {
        flex-grow: 1;
    }

.filters {
    width: 230px;
    background-color: #f9fafb;
    border: none;
    border-radius: 5px;
    height: 35px;
    color: black;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}